
.css-1whfrzg {
    background: red;
    
    
    }
    
    .css-1hik5m6 {
        margin-bottom: 16px;
        background: #581CB9;
    }
    
    
    .css-47yhhe-LegendRow {
    transition: 0.5s;
    }
    
    
    .css-47yhhe-LegendRow:hover {
        background: #581CB9;
    }
    
    .css-105dyb7 {
            background: #581CB9;
    }
    
    body{
    
        background: #581CB9;
    }
    
    .css-jp0mh7-toolbar-button  {
        background-color: #581CB9;
    }
    
    .panel-container{
    transition: 0.5s;
    background: #581CB9;
    }
    
    .panel-container:hover {
       background-color: #581CB9;
    
    }
    
    
    .page-toolbar, .sidemenu {
    
    background: #3E0B8F;
    
    }
    
    
    .css-p8muss, .toolbar-button, .css-1bbmb0s-toolbar-button {
    
    background: #7F3EE8;
    
    }
    
    